
@{
    ViewData["Title"] = "Conctact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>Conctact</h1>
    <h2> Bizimle İletişime Geçebilirsiniz</h2>
    <p> İletişim için adresler: XXXXXXXXXXXXX</p>
</body>
