<footer style="background-color:burlywood" class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - bookshelf - Burak Akdeniz Tüm hakları saklıdır. <a style="float:right" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>